.game-btn {
  width: 150px;
  height: 150px;
  border: black 2px solid;
}

.game-btn:hover,
.highlight {
  filter: brightness(1.4);
  border: white 2px solid;
}
.highlight {
  transform: scale(1.08);
  transition: filter 0.3s;
}
.red {
  background-color: red;
  border-radius: 50% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 50% 0 0;
}

.green {
  background-color: green;
  border-radius: 0 0 0 50%;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 50% 0;
}
