.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  gap: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 1px 0px #000000;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.play {
  width: 150px;
  height: 50px;
}
