.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.play {
  width: 150px;
  height: 50px;
}
